.genre-card-header {
  font-size: 25px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.genre-card-content {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
}